.timeline-page{
    padding-top:120px;
    min-height:100vh;
    background:#fafafa;
    text-align:center;
}

.timeline-title{
    font-size:40px;
    font-weight:600;
    margin-bottom:10px;
}

.timeline-subtitle{
    color:#777;
    margin-bottom:60px;
}

/* CENTER LINE */
.timeline-container{
    position:relative;
    max-width:1000px;
    margin:auto;
}

.timeline-container::after{
    content:'';
    position:absolute;
    width:3px;
    background:#d4af37;
    top:0;
    bottom:0;
    left:50%;
    margin-left:-1px;
}

/* ITEM */
.timeline-item{
    padding:20px 40px;
    position:relative;
    width:50%;
}

.timeline-item.left{
    left:0;
    text-align:right;
}

.timeline-item.right{
    left:50%;
    text-align:left;
}

/* CIRCLE */
.timeline-item::after{
    content:'';
    position:absolute;
    width:18px;
    height:18px;
    right:-9px;
    background:#fff;
    border:3px solid #d4af37;
    top:25px;
    border-radius:50%;
    z-index:1;
}

.timeline-item.right::after{
    left:-9px;
}

/* BOX */
.timeline-content{
    padding:20px;
    background:white;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.timeline-content h3{
    margin:0;
    font-size:20px;
}

.date{
    color:#d4af37;
    font-size:14px;
    display:block;
    margin:6px 0;
}

.timeline-content p{
    font-size:14px;
    color:#555;
}