.venue-detail-page{
    background:#f4ede4;
    min-height:100vh;
    padding-bottom:80px;
    font-family: 'Playfair Display', serif;
}

/* HERO */
.venue-detail-hero{
    padding:30px 20px;
    text-align:center;
    color:#d39d5f;
}

.venue-detail-hero h1{
    font-size:36px;
    letter-spacing:2px;
}

.venue-detail-hero p{
    margin-top:10px;
    font-size:18px;
}

.check-btn{
    margin-top:20px;
    padding:12px 30px;
    border:none;
    border-radius:30px;
    background:#e6e6e6;
    cursor:pointer;
    font-weight:600;
}

.check-btn:hover{
    background:#B87333;
    color:white;
}

/* ABOUT */
.venue-about{
    text-align:center;
    padding:20px 20px;
}

.venue-about h2{
    color:#d39d5f;
    font-size:28px;
}

.venue-info-box{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:30px;
    flex-wrap:wrap;
}

.venue-info-box div{
    background:#ddd;
    padding:18px 28px;
    border-radius:20px;
    font-weight:600;
}

/* ================= GALLERY ================= */
/* ========= GALLERY (ZIGZAG GRID LIKE VENUES) ========= */

.venue-gallery{
    text-align:center;
    margin-top:50px;
}

.gallery-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px 80px;
    width:70%;
    margin:40px auto;
}

/* image style */
.gallery-grid img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    transition:0.3s;
}

.venue-gallery h2{
    color:#d39d5f;
    font-size:28px;
    margin-bottom: 100px;
}

/* zigzag effect */
.gallery-grid img:nth-child(odd){
    transform:translateY(30px);
}

.gallery-grid img:nth-child(even){
    transform:translateY(-30px);
}

.gallery-grid img:hover{
    transform:scale(1.05);
}

/* LOCATION */
.venue-location{
    text-align:center;
    margin-top:100px;
    font-size:22px;
    font-weight:600;
}